<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body align="center">
<form th:method="PATCH" th:action="@{/people/{id}(id=${people.getId()})}" th:object="${people}">
    <label for="name" th:action="@{/people}" th:object="${people}" >Введите имя читателя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: brown" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Ошибка имени:</div>
    <br/>
    <label for="age" th:action="@{/people}" th:object="${people}">Введите возраст читателя: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color: brown" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Ошибка возраста:</div>
    <hr/>
    <input type="submit" value="Обновить!"/>
</form>

</body>
</html>