<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<header th:text="'Описание книги: ' +  ${book.getName()}"><h3> VALUE </h3></header>
<body align="center">
<hr/>
<p th:text="'Автор: ' + ${book.getAuthor()}"> VALUE </p>
<p th:text="'Наименование книги: ' + ${book.getName()}">VALUE</p>
<p th:text="'Год выпуска книги: ' + ${book.getAge()}">VALUE </p>
<p th:text="'Номер книги в каталоге: ' + ${book.getId()}">VALUE</p>
<hr/>
<a th:href="@{book/{id}/edit(id= ${book.getId()})}">Изменить книгу</a>
</body>
<form th:method="DELETE" th:action="@{book/{id}/edit(id= ${book.getId()})}">
    <br/>
    <input type="submit" value="Удалить"/>
</form>

</html>